#additional-fields {
    display: none !important;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

#additional-fields.active {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
}

.hidden {
    display: none !important;
}

.transition-transform {
    transition: transform 0.5s;
}

.transition-opacity {
    transition: opacity 0.5s;
}

.duration-500 {
    transition-duration: 0.5s;
}

.-translate-y-full {
    transform: translateY(-100%);
}

.translate-y-0 {
    transform: translateY(0);
}



